<configuration>

    <appender name="GRAYLOG" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>graylog:12201</destination> <!-- Graylog sunucusunun IP adresi -->
        <encoder>
            <pattern>
                {"timestamp": "%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}", "level": "%level", "logger": "%logger", "message": "%msg"}
            </pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="GRAYLOG" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
