<configuration>
    <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>graylog</graylogHost>
        <port>12201</port>
        <includeFullMdc>true</includeFullMdc>
        <facility>java-app</facility>
        <additionalFields>environment=dev,application=kafka-example</additionalFields>
    </appender>

    <root level="INFO">
        <appender-ref ref="GELF" />
    </root>
</configuration>
